{% extends 'base.html' %}
{% load static %}

{% block title %}
Hello
{% endblock %}

{% block content %}
{% include 'includes/banner.html' %}

<!--== Who We Are Start ==-->
<section class="dark-bg" id="WeBuildSomethingDifferent">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 section-heading">
				<h5 class="default-color text-uppercase">We Build Something Different</h5>
				<h2 class="play-font white-color font-700">A Innovative Digital Studio That Makes Experiences For The
					Web, <br> Mobile <span class="default-color">&</span> Beyond</h2>
			</div>
		</div>
		<div class="row mt-50 service-box-style-01">
			<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
				<div class="feature-box text-center mb-50 feature-box-rounded center-feature border-radius-0 md-float-none">
					<i class="icofont icofont-magic font-40px default-color"></i>
					<h4 class="mt-0 font-600">Design</h4>
					<p class="font-400 mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting
						industry.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
				<div class="feature-box text-center mb-50 feature-box-rounded center-feature border-radius-0 md-float-none">
					<i class="icofont icofont-globe-alt font-40px default-color"></i>
					<h4 class="mt-0 font-600">Development</h4>
					<p class="font-400 mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting
						industry.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
				<div class="feature-box text-center mb-50 feature-box-rounded center-feature border-radius-0 md-float-none">
					<i class="icofont icofont-headphone-alt font-40px default-color"></i>
					<h4 class="mt-0 font-600">Marketing</h4>
					<p class="font-400 mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting
						industry.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== Who We Are End ==-->

<!--== Portfolio Start ==-->
<section class="white-bg dark-block" id="OurAwesomeProjects">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 section-heading">
				<h5 class="default-color text-uppercase">Our Awesome Projects</h5>
				<h2 class="play-font font-700">We Love <span class="default-color">What</span> You Do</h2>
			</div>
		</div>
		<div class="row mt-50">
			<div class="col-md-12">
				<div id="portfolio-gallery-filter" class="cbp-l-filters-alignCenter text-sm-center mb-100">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item dark">All</div>
					
					{% for category in categories %}
					<div data-filter=".{{category.slug}}" class="cbp-filter-item">{{category.name}}</div>
					{% endfor %}
					<!--					<div data-filter=".print" class="cbp-filter-item">Print Design</div>-->
					<!--					<div data-filter=".web-design" class="cbp-filter-item">Web Design</div>-->
					<!--					<div data-filter=".advertising" class="cbp-filter-item">Advertising</div>-->
					<!--					<div data-filter=".photography" class="cbp-filter-item">Photography</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div id="portfolio-gallery" class="cbp hover-type-2">
					
					{% for product in products %}
					<div class="cbp-item
					{% for category in product.category.all %}
					{{category.slug}}
					{% endfor %}
					 col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{{product.image.url}}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">{{product.name}}</h3>
									<h6 class="links">{{product.short_description}}</h6>
								</div>
								<ul class="portfolio-details">
									<li class="">
										<a class="cbp-lightbox" href="{{product.image.url}}">
											<i class="icofont icofont-search"></i>
										</a>
									</li>
									
									<li>
										<a href="{% url 'project_page' slug=product.slug pk=product.pk%}">
											<i class="icofont icofont-link"></i>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
					
					
					<div class="cbp-item branding col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/14.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Modern East</h3>
									<h6 class="links">Art Direction</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/14.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="cbp-item print advertising col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/16.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Formdusche Berlin</h3>
									<h6 class="links">Print Media</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/16.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="cbp-item branding photography col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/17.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Toormix Design</h3>
									<h6 class="links">Branding</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/17.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="cbp-item branding web-design col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/19.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Mohawk Maker</h3>
									<h6 class="links">Web Design</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/19.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="cbp-item print advertising col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/20.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Serie Artisan</h3>
									<h6 class="links">Typography</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/19.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="cbp-item branding photography col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/21.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Festival Nrmal</h3>
									<h6 class="links">Branding</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/21.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="cbp-item print web-design col-md-3 col-sm-6 with-spacing">
						<div class="portfolio gallery-image-hover text-center">
							<div class="folio-overlay"></div>
							<img src="{%static 'assets/images/portfolio/grid/22.jpg'%}" alt="">
							<div class="portfolio-wrap">
								<div class="portfolio-description">
									<h3 class="portfolio-title">Times Elliott</h3>
									<h6 class="links">User Interface</h6>
								</div>
								<ul class="portfolio-details">
									<li><a class="cbp-lightbox" href="{%static 'assets/images/portfolio/grid/22.jpg'%}"><i
											class="icofont icofont-search"></i></a></li>
									<li><a href="single-project-page-01.html"><i class="icofont icofont-link"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== Portfolio End ==-->

<!--== Our Skills Start ==-->
<section class="dark-bg">
	<div class="container">
		<div class="row chart-style-03 text-center">
			<div class="col-md-3 col-sm-6 col-xs-12 sm-mb-30 xs-mb-30 wow fadeInUp" data-wow-delay="0.1s">
				<div class="chart-circle">
                <span class="chart-03" data-percent="95">
              		<span class="percent dark-color font-20px font-500"></span>
              	</span>
				</div>
				<div class="chart-title">
					<span class="white-color text-uppercase font-14px font-500">Angular</span>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12 sm-mb-30 xs-mb-30 wow fadeInUp" data-wow-delay="0.2s">
				<div class="chart-circle">
                <span class="chart-03" data-percent="66">
              		<span class="percent dark-color font-20px font-500"></span>
              	</span>
				</div>
				<div class="chart-title">
					<span class="white-color text-uppercase font-14px font-500">Web Design</span>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12 sm-mb-30 xs-mb-30 wow fadeInUp" data-wow-delay="0.3s">
				<div class="chart-circle">
                <span class="chart-03" data-percent="85">
              		<span class="percent dark-color font-20px font-500"></span>
              	</span>
				</div>
				<div class="chart-title">
					<span class="white-color text-uppercase font-14px font-500">Photography</span>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12 sm-mb-30 xs-mb-30 wow fadeInUp" data-wow-delay="0.4s">
				<div class="chart-circle">
                <span class="chart-03" data-percent="99">
              		<span class="percent dark-color font-20px font-500"></span>
              	</span>
				</div>
				<div class="chart-title">
					<span class="white-color text-uppercase font-14px font-500">Graphics Design</span>
				</div>
			</div>
		
		</div>
	</div>
</section>
<!--== Our Skills End ==-->

<!--== Our Services Start ==-->
<section class="white-bg" id="OurServicesStart">
	<div class="container-fluid">
		
		<div class="row mt-20">
			<div class="col-md-4 wow fadeInUp mt-30 mb-30" data-wow-delay="0.1s">
				<figure class="imghvr-shutter-in-out-diag-2 text-center"><img
						src="{%static 'assets/images/gallery/service-img-12.jpg'%}" alt="your-image">
					<figcaption class="dark-bg">
						<div class="center-layout">
							<div class="v-align-middle">
								<h4 class="mb-0 mt-10 default-color">Concept Designs</h4>
								<p class="white-smoke">Passion, Dedication, and a lot of coffee.</p>
							</div>
						</div>
					</figcaption>
				</figure>
			</div>
			
			<div class="col-md-4 wow fadeInUp mt-30 mb-30" data-wow-delay="0.2s">
				<figure class="imghvr-shutter-in-out-diag-2 text-center"><img
						src="{%static 'assets/images/gallery/service-img-26.jpg'%}" alt="your-image">
					<figcaption class="dark-bg">
						<div class="center-layout">
							<div class="v-align-middle">
								<h4 class="mb-0 mt-10 default-color">Mobile Apps</h4>
								<p class="white-smoke">You provide the vision, we provide the solution.</p>
							</div>
						</div>
					</figcaption>
				</figure>
			</div>
			
			<div class="col-md-4 wow fadeInUp mt-30 mb-30" data-wow-delay="0.3s">
				<figure class="imghvr-shutter-in-out-diag-2 text-center"><img
						src="{%static 'assets/images/gallery/service-img-15.jpg'%}" alt="your-image">
					<figcaption class="dark-bg">
						<div class="center-layout">
							<div class="v-align-middle">
								<h4 class="mb-0 mt-10 default-color">Development Services</h4>
								<p class="white-smoke">This is how I feel when I am not making the internet.</p>
							</div>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
<!--== Our Services End ==-->

<!--== Our Team Start ==-->
<section class="white-bg pt-0 dark-block" id="MeetTheTeam">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 section-heading">
				<h5 class="default-color text-uppercase">Meet The Team</h5>
				<h2 class="play-font font-700">Team Work Makes <span class="default-color">The Dream</span> Work</h2>
			</div>
		</div>
		<div class="row mt-50">
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
				<div class="team-member-container gallery-image-hover"><img
						src="{%static 'assets/images/team/team-01.jpg'%}"
						class="img-responsive" alt="team-01">
					<div class="member-caption">
						<div class="member-description">
							<div class="member-description-wrap">
								<h4 class="member-title">Barry Arroyo</h4>
								<p class="member-subtitle text-uppercase">Lead Product Designer</p>
								<ul class="member-icons">
									<li class="social-icon"><a href="#" class="icofont icofont-social-facebook"></a>
									</li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-twitter"></a></li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-behance"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--== Member End ==-->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
				<div class="team-member-container gallery-image-hover"><img
						src="{%static 'assets/images/team/team-02.jpg'%}"
						class="img-responsive" alt="team-02">
					<div class="member-caption">
						<div class="member-description">
							<div class="member-description-wrap">
								<h4 class="member-title">Debra Johnson</h4>
								<p class="member-subtitle text-uppercase">Creative Director</p>
								<ul class="member-icons">
									<li class="social-icon"><a href="#" class="icofont icofont-social-facebook"></a>
									</li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-twitter"></a></li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-behance"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--== Member End ==-->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
				<div class="team-member-container gallery-image-hover"><img
						src="{%static 'assets/images/team/team-03.jpg'%}"
						class="img-responsive" alt="team-03">
					<div class="member-caption">
						<div class="member-description">
							<div class="member-description-wrap">
								<h4 class="member-title">Andrew Dean</h4>
								<p class="member-subtitle text-uppercase">CEO / Founder</p>
								<ul class="member-icons">
									<li class="social-icon"><a href="#" class="icofont icofont-social-facebook"></a>
									</li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-twitter"></a></li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-behance"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--== Member End ==-->
			
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
				<div class="team-member-container gallery-image-hover"><img
						src="{%static 'assets/images/team/team-04.jpg'%}"
						class="img-responsive" alt="team-04">
					<div class="member-caption">
						<div class="member-description">
							<div class="member-description-wrap">
								<h4 class="member-title">Luara Prior</h4>
								<p class="member-subtitle text-uppercase">Marketing Manager</p>
								<ul class="member-icons">
									<li class="social-icon"><a href="#" class="icofont icofont-social-facebook"></a>
									</li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-twitter"></a></li>
									<li class="social-icon"><a href="#" class="icofont icofont-social-behance"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--== Member End ==-->
		</div>
	</div>
</section>
<!--== Our Team End ==-->

<!--== Testimonails Start ==-->
<section class="dark-bg pb-30" id="OurStatisfyCustomers">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 section-heading">
				<h5 class="default-color text-uppercase">Our Statisfy Customers</h5>
				<h2 class="play-font white-color font-700">Great Experience. Above & Beyond As <span
						class="default-color">The Service</span> Describe</h2>
			</div>
		</div>
		<div class="row mt-10">
			<div class="testimonial-style-3">
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
					<!--== Slide ==-->
					<div class="testimonial-item">
						<div class="testimonial-content">
							<img class="img-responsive img-circle text-center"
							     src="{%static 'assets/images/team/avatar-1.jpg'%}"
							     alt="avatar-1"/>
							<p class="mt-20 line-height-26 font-14px">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit. Donec sodales nec nulla ac aliquet. Duis vel nunc eget.</p>
							<h5 class="font-700 mb-0 white-color">Felix Lewis</h5>
							<span class="default-color font-14px">SEO Manager</span>
							<div class="social-icons-style-02">
								<ul class="md-icon mt-20 mb-20">
									<li><a class="fb" href="#."><i class="icofont icofont-social-facebook"></i></a></li>
									<li><a class="tw" href="#."><i class="icofont icofont-social-twitter"></i></a></li>
									<li><a class="be" href="#."><i class="icofont icofont-social-behance"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
					<!--== Slide ==-->
					<div class="testimonial-item">
						<div class="testimonial-content">
							<img class="img-responsive img-circle text-center"
							     src="{%static 'assets/images/team/avatar-2.jpg'%}"
							     alt="avatar-2"/>
							<p class="mt-20 line-height-26 font-14px">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit. Donec sodales nec nulla ac aliquet. Duis vel nunc eget.</p>
							<h5 class="font-700 mb-0 white-color">Helen Ellis</h5>
							<span class="default-color font-14px">Head of Product</span>
							<div class="social-icons-style-02">
								<ul class="md-icon mt-20 mb-20">
									<li><a class="fb" href="#."><i class="icofont icofont-social-facebook"></i></a></li>
									<li><a class="tw" href="#."><i class="icofont icofont-social-twitter"></i></a></li>
									<li><a class="be" href="#."><i class="icofont icofont-social-behance"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
					<!--== Slide ==-->
					<div class="testimonial-item">
						<div class="testimonial-content"><img class="img-responsive img-circle"
						                                      src="{%static 'assets/images/team/avatar-3.jpg'%}"
						                                      alt="avatar-1"/>
							<p class="mt-20 line-height-26 font-14px">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit. Donec sodales nec nulla ac aliquet. Duis vel nunc eget.</p>
							<h5 class="font-700 mb-0 white-color">Daniel Lane</h5>
							<span class="default-color font-14px">CEO / Founder</span>
							<div class="social-icons-style-02">
								<ul class="md-icon mt-20 mb-20">
									<li><a class="fb" href="#."><i class="icofont icofont-social-facebook"></i></a></li>
									<li><a class="tw" href="#."><i class="icofont icofont-social-twitter"></i></a></li>
									<li><a class="be" href="#."><i class="icofont icofont-social-behance"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--== Testimonails End ==-->

<!--== Blog Posts Start ==-->
<section class="white-bg" id="LatestBlogs">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 section-heading">
				<h5 class="default-color text-uppercase">Latest Blogs</h5>
				<h2 class="play-font font-700">Smart Marketing Tools That <span class="default-color">Grow</span><br>
					Your Business</h2>
			</div>
		</div>
		<div class="row mt-50">
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.1s">
				<div class="post">
					<div class="post-img"><img class="img-responsive" src="{%static 'assets/images/post/post-09.jpg'%}"
					                           alt=""/>
					</div>
					<div class="post-info pt-20 pb-20">
						<h3><a href="blog-grid.html">4 Deadly Sins of UI and UX Design You Need to Avoid</a></h3>
						<h6>January 15, 2018</h6>
						<hr>
						<p class="mt-10"><span> <a class="extras-wrap" href="#"><i
								class="icofont icofont-chat"></i><span>0 Comments</span></a> <span
								class="extras-wrap"><i
								class="icofont icofont-clock-time"></i><span>5 Minutes</span></span> </span></p>
						<a class="readmore" href="#"><span>Read More</span></a></div>
				</div>
			</div>
			<!--== Post End ==-->
			
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
				<div class="post">
					<div class="post-img"><img class="img-responsive" src="{%static 'assets/images/post/post-18.jpg'%}"
					                           alt=""/>
					</div>
					<div class="post-info pt-20 pb-20">
						<h3><a href="blog-grid.html">20 Trends That Will Be Huge This May</a></h3>
						<h6>April 19, 2014</h6>
						<hr>
						<p class="mt-10"><span> <a class="extras-wrap" href="#"><i
								class="icofont icofont-chat"></i><span>20 Comments</span></a> <span class="extras-wrap"><i
								class="icofont icofont-clock-time"></i><span>8 Minutes</span></span> </span></p>
						<a class="readmore" href="#"><span>Read More</span></a></div>
				</div>
			</div>
			<!--== Post End ==-->
			
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
				<div class="post">
					<div class="post-img"><img class="img-responsive" src="{%static 'assets/images/post/post-11.jpg'%}"
					                           alt=""/>
					</div>
					<div class="post-info pt-20 pb-20">
						<h3><a href="blog-grid.html">This App Aims to Make Life a Little Easier for Plus-Size People</a>
						</h3>
						<h6>Febuary 13, 2018</h6>
						<hr>
						<p class="mt-10"><span> <a class="extras-wrap" href="#"><i
								class="icofont icofont-chat"></i><span>8 Comments</span></a> <span
								class="extras-wrap"><i
								class="icofont icofont-clock-time"></i><span>Just Now</span></span> </span></p>
						<a class="readmore" href="#"><span>Read More</span></a></div>
				</div>
			</div>
			<!--== Post End ==-->
			
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
				<div class="post">
					<div class="post-img"><img class="img-responsive" src="{%static 'assets/images/post/post-15.jpg'%}"
					                           alt=""/>
					</div>
					<div class="post-info pt-20 pb-20">
						<h3><a href="blog-grid.html">10 Unbelievably Tranquil and Beautiful Floating Hotels</a></h3>
						<h6>November 18, 2016</h6>
						<hr>
						<p class="mt-10"><span> <a class="extras-wrap" href="#"><i
								class="icofont icofont-chat"></i><span>88 Comments</span></a> <span class="extras-wrap"><i
								class="icofont icofont-clock-time"></i><span>15 Minutes</span></span> </span></p>
						<a class="readmore" href="#"><span>Read More</span></a></div>
				</div>
			</div>
			<!--== Post End ==-->
		
		</div>
	</div>
</section>
<!--== Blog Posts End ==-->
	{% include 'includes/form.html' %}

{% endblock %}


{% block script %}
var tpj=jQuery;

var revapi4;
tpj(document).ready(function() {
if(tpj("#rev_slider_4_1").revolution == undefined){
revslider_showDoubleJqueryError("#rev_slider_4_1");
}else{
revapi4 = tpj("#rev_slider_4_1").show().revolution({
sliderType:"standard",
jsFileLocation:"revolution/js/",
sliderLayout:"fullscreen",
dottedOverlay:"none",
delay:9000,
particles: {startSlide: "first", endSlide: "last", zIndex: "1",
particles: {
number: {value: 80}, color: {value: "#000000"},
shape: {
type: "circle", stroke: {width: 0, color: "#ffffff", opacity: 1},
image: {src: ""}
},
opacity: {value: 0.3, random: false, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
size: {value: 10, random: true, min: 1, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
line_linked: {enable: true, distance: 200, color: "#000000", opacity: 0.2, width: 1},
move: {enable: true, speed: 3, direction: "none", random: true, min_speed: 3, straight: false, out_mode: "out"}},
interactivity: {
events: {onhover: {enable: true, mode: "bubble"}, onclick: {enable: false, mode: "repulse"}},
modes: {grab: {distance: 400, line_linked: {opacity: 0.5}}, bubble: {distance: 400, size: 150, opacity: 1}, repulse: {distance: 200}}
}
},
navigation: {
keyboardNavigation:"off",
keyboard_direction: "horizontal",
mouseScrollNavigation:"off",
mouseScrollReverse:"default",
onHoverStop:"off",
arrows: {
style:"gyges",
enable:true,
hide_onmobile:false,
hide_onleave:false,
tmp:'',
left: {
h_align:"center",
v_align:"bottom",
h_offset:-20,
v_offset:0
},
right: {
h_align:"center",
v_align:"bottom",
h_offset:20,
v_offset:0
}
}
},
responsiveLevels:[1240,1024,778,480],
visibilityLevels:[1240,1024,778,480],
gridwidth:[1240,1024,778,480],
gridheight:[868,768,960,720],
lazyType:"none",
shadow:0,
spinner:"off",
stopLoop:"on",
stopAfterLoops:0,
stopAtSlide:1,
shuffle:"off",
autoHeight:"off",
fullScreenAutoWidth:"off",
fullScreenAlignForce:"off",
fullScreenOffsetContainer: "",
fullScreenOffset: "60px",
disableProgressBar:"on",
hideThumbsOnMobile:"off",
hideSliderAtLimit:0,
hideCaptionAtLimit:0,
hideAllCaptionAtLilmit:0,
debugMode:false,
fallbacks: {
simplifyAll:"off",
nextSlideOnWindowFocus:"off",
disableFocusListener:false,
}
});
}

RsParticlesAddOn(revapi4);
});    /*ready*/

//$('#exampleModalScrollable').on('shown.bs.modal', function () {
//  $('#myInput').trigger('focus')
//})

{% endblock %}

