<!--== Contact Form Start ==-->
<section class="dark-bg pb-30">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 section-heading">
				<h5 class="default-color text-uppercase">Contact With Us</h5>
				<h2 class="play-font white-color font-700">Contact form coming soon... <span
						class="default-color">This service</span> in Develop</h2>
			</div>
			
			<form action="{% url 'contact_form' %}" method="post" role="form" class="php-email-form">
				<!--						{{contact_form_in_all_page}}-->
				<!-- Ошибки не связанныене с полями -->
				{% csrf_token %}
				{% for e in contact_form.non_field_errors %}
				<div class="alert alert-danger">{{e}}</div>
				{% endfor %}
				<!-- /Ошибки не связанныене с полями -->
				
				<div class="form-row">
					{% for field in contact_form %}
					<div class=" form-group col-md-6 {% if field.errors %} alert-danger{% endif %}">
						<!--Ошибки в поле-->
						{% if field.errors %}
						<ol>
							{% for error in field.errors %}
							<li>{{error|escape}}</li>
							{% endfor %}
						</ol>
						{% endif %}
						<!--/Ошибки в поле-->
						
						<!--Данные в полях-->
						<div class="controls">
							{{ field.label }}
							{{ field }}
						</div>
						<!--/Ошибки в полях-->
					</div>
					{% endfor %}
				</div>
				
				{% for hidden in contact_form.hidden_fields %}
				{{hidden}}
				{% endfor %}
				
				<div class="text-center mt-20">
					<button type="submit" name="submit"
					        class="btn btn-color btn-md btn-square btn-animate remove-margin disabled">
						<span>
							Send Message
							<i class="ion-android-arrow-forward"></i>
						</span>
					</button>
				</div>
			
			</form>
		</div>
	
	</div>
</section>
<!--== Contact Form End ==-->